.paginate__number{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
    gap: 2.6em;
}

.paginate__btn{
    background-color: #D93F3F;
    color: aliceblue;
    width: 3em;
    height: 3em;
    
}