.select__type{
    width: 100%;
    height: 100%;
    text-align: center;
    border-color: black;
    border: 1em;
    box-shadow: rgba(121, 119, 119, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.select__type-option{
    font-size: 1.3em;
    background-color: #ffffff;
    color: rgb(3, 41, 74);
    &:hover {
        color: blue;
    }
}

.select__type-option:hover{
    background: #0d025e;
    color: aliceblue;
}